body {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.4fr 2fr;
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(18,76,129);
}

.content-card {
    padding-top: 5%;
    padding-left: 3%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: transparent;
    gap: 8px;
    height: 100vh;
}

.content-list {
    padding-top: 5%;
    padding-left: 1%;
    background-color: transparent;
    gap: 8px;
    height: 100vh;
}

.content-list > .task {
    padding: 8px;
    margin: 8px;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr 0.2fr;
    grid-template-rows: none;
    background-color: white;
    max-width: 100%;
    height: 50px;
    text-align: inherit;
    border-radius: 10px;
}

#sidebar{
    padding-top: 15%;
    background-color: white;
    padding-left: 10%;
}

.task{
    padding: 8px;
    margin: 8px;
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.1fr 0.2fr;
    max-width: 200px;
    height: 310px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    gap: 8px;
}

.task > p {
    margin: 0;
    padding: 0px;
}

.task > div {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.task#high{
    border-bottom: solid 16px rgb(246,91,93); 
}

.task#medium{
    border-bottom: solid 16px rgb(255,163,16); 
}

.task#low{
    border-bottom: solid 16px rgb(3,187,63); 
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
}

.project-container > img {
    padding: 4px;
    align-self: center;
    border-radius: 4px;
}

.project-container:focus {
    background-color: rgb(18,76,129);
    color: white;
    border-bottom-left-radius: 16px;

}

.project-delete-button:hover {
    background-color: red ;
}

#task-view-toggle {
    margin-top: 16px;
    margin-left: 16px;
    max-height: 32px;
    max-width: 32px;
    background-color: white;
    padding: 16px;
    border-radius: 4px;
}

div#adding-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
}

#adding-buttons > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    padding: 8px;
}

#adding-buttons > div:hover {
    background-color: green;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

.task-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-buttons > .task-complete-button:hover {
    background-color: greenyellow;
    border: 2px solid greenyellow;
}

.task-buttons > .task-edit-button:hover {
    background-color: aqua;
    border: 2px solid aqua;
}

.task-buttons > .task-delete-button:hover {
    background-color: red;
    border: 2px solid red;
}

#task-dialog, #project-dialog, #task-dialog-filled {
   border: none;
   border-radius: 10px;
   box-shadow: 10px 10px 10px;
}

#task-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#task-form > div > input{
    width: 100%;
}

#task-form-edited {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#task-form-edited > div > input{
    width: 100%;
}

#project-form {
    display: flex;
    gap: 8px;
}

.dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dialog-header > button:hover{
    background-color: red;
    color: white;
}

.dialog-footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.dialog-footer > button {
    height: 36px;
    font-size: 16px;
    background-color: rgb(18,76,129);
    color: white;
    border: none;
    border-radius: 4px;
}

.dialog-footer > button:hover {
    background-color: green;
}

.task:has(> .task-buttons > img.completed) {
    background-color: gray;
    border-bottom: solid 16px gray !important;
}