body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    overflow-x: hidden;
    margin: 0;
    background-color: #003459;
}


#content {
    padding-top: 5%;
    padding-left: 3%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: transparent;
    gap: 8px;
    min-height: 100vh;
}

#sidebar{
    padding-top: 15%;
    background-color: white;
    padding-left: 10%;

}

.task{
    padding: 8px;
    margin: 8px;
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.25fr 0.25fr 0.25fr;
    max-width: 200px;
    height: 310px;
    text-align: center;
    background-color: white;

}

.task > p {
    margin: 0;
    padding: 0px;
}

.task > div {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

#high{
    border-bottom: solid 16px red; 
}

#medium{
    border-bottom: solid 16px green; 
}

#low{
    border-bottom: solid 16px beige; 
}

.project-container {
    display: block;

}

.project-delete-button{
    padding: 4px;
    justify-content: center;
    align-self: flex-end;
}
.project-delete-button:hover {
    background-color: red ;
}